@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

@font-face {
  font-family: "Myanmar Text";
  src: url("../public/fonts/mmrtext.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: mynamarButton;
  src: url(../public/fonts/Myanmar.ttf);
}

@font-face {
  font-family: mynamarKhyay;
  src: url(../public/fonts/MyanmarKhyay.ttf);
}

@layer base {
  body {
    color: black;
    font-family: "Myanmar Text" !important;
    letter-spacing: 0.8px;
    background-image: linear-gradient(to bottom, #fbfbfbcb, #e6e6e6);
    background-repeat: no-repeat;
    min-height: 100vh;
  }
}

.onboarding {
  min-height: calc(100vh - 58px);
}

.css-13cymwt-control {
  display: block;
  flex: 1;
  border: 0;
  background: transparent !important;
  padding: 0.75rem 1rem;
  color: rgb(17 24 39);
  outline: none;
  font-size: 0.75rem;
  line-height: 1.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05), inset 0 0 0 1px rgb(209 213 219);
}

.css-1u9des2-indicatorSeparator,
.css-1xc3v61-indicatorContainer {
  display: none;
}

#wallet .wallet-adapter-button {
  background-color: #151515 !important;
  color: #4CFF53 !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  border-radius: 9999px !important;
}

::-webkit-scrollbar {
  width: 8px;
}

.escrow::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb,
.escrow::-webkit-scrollbar-thumb {
  @apply bg-second rounded-full;
}

.logBg {
  background-image: url(../public/LogingBg.svg);
  background-size: cover;
  background-position: bottom left;
  min-height: calc(100vh - 57px);
}

@layer utilities {
  @media (max-width: 768px) {
    .mobile-text {
      font-weight: 600;
    }
    
    .text-xs {
      font-size: 0.875rem;
      font-weight: 550;
    }
    
    .text-sm {
      font-size: 0.9375rem;
      font-weight: 550;
    }
    
    .font-myanmar {
      font-weight: 600;
    }
    
    .text-textColor {
      font-weight: 600;
    }
  }
}

/* Add these styles for form elements */
.font-myanmar {
  font-weight: 600;
}

.text-textColor {
  font-weight: 600;
}

label {
  font-weight: 600;
}
